Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, ls-lint

format:
  run: pnpm prettier --write --experimental-cli {staged_files}
  stage_fixed: true

lint:
  run: pnpm run lint:fix --file {staged_files}
  stage_fixed: true

ls-lint:
  run: pnpm run ls-lint
  stage_fixed: true

packageの整理
  core/package.json
  package.json
  packages/helpers/package.json
  packages/helpers/tsconfig.json
  packages/hooks/package.json
  packages/hooks/tsconfig.json
  pnpm-lock.yaml
Due: none

turboの整理
  package.json
  turbo.json
Due: none

revert vercel deploy
  .github/workflows/deploy-preview.yml
Due: none

erdのpathを修正
  .github/workflows/erd.yml
Due: none

heightもfit可能に
  core/src/components/card/card.tsx
  core/src/components/card/interactive-card.tsx
  core/src/components/card/type.ts
Due: format

layoutに追加
  core/src/app/blog/layout.tsx
Due: format

writing-modeのstyleを追加
  core/src/app/_styles/globals.css
Due: none

縦書き横書きを切り替えるアイコンボタン作成
  src/app/blog/_components/toggle-writing-mode/index.ts
  src/app/blog/_components/toggle-writing-mode/toggle-writing-mode.stories.tsx
  src/app/blog/_components/toggle-writing-mode/toggle-writing-mode.tsx
Due: format, lint, ls-lint

icon追加
  core/src/components/icons/icons.stories.tsx
  core/src/components/icons/lucide.tsx
Due: format

一覧ページを縦書き対応させる
  core/src/app/blog/_components/blog-card/blog-card-list.tsx
  core/src/app/blog/_components/blog-card/blog-card.tsx
  core/src/app/blog/_components/blog-card/index.ts
  core/src/app/blog/_components/toggle-writing-mode/index.ts
  core/src/app/blog/_components/toggle-writing-mode/toggle-writing-mode.stories.tsx
  core/src/app/blog/_components/toggle-writing-mode/toggle-writing-mode.tsx
  core/src/app/blog/page.tsx
Due: format

client部分を分離
  core/src/app/blog/_components/blog-layout/blog-layout.tsx
  core/src/app/blog/_components/blog-layout/content.tsx
Due: format

preをdivと分けるh-fullとmarginの都合
  core/src/mdx-components.tsx
Due: format

ViewCounterを使う
  core/src/app/blog/_components/blog-layout/blog-layout.tsx
Due: format

ブログのコンテンツも横書きに
  core/src/app/blog/_components/blog-layout/content.tsx
  core/src/mdx-components.tsx
Due: format

inlineとblock方向で分ける
  core/src/app/_components/playgrounds/playground.tsx
Due: format

調整
  core/src/app/blog/_components/blog-card/blog-card-list.tsx
  core/src/app/blog/_components/blog-card/blog-card.tsx
  core/src/app/blog/_components/blog-layout/content.tsx
Due: format

段組みレイアウトに関するプロパティを追加
  core/src/app/_styles/globals.css
Due: none

インポートの更新
  core/src/app/blog/_components/blog-layout/content.tsx
Due: format

import修正
  core/src/app/blog/_components/blog-layout/content.tsx
Due: format

nodeのバージョンアップ
  package.json
Due: none

typesオプションを消す
  lefthook.yml
Due: none

baseUrlの削除
  core/tsconfig.json
Due: none

chore: rename renovate.json5 to renovate.json
  renovate.json
Due: none

含めてしまっていたので、除外する
  renovate.json
Due: none

@nextも除外する
  renovate.json
Due: none

間違えて入れた
  core/package.json
  pnpm-lock.yaml
Due: none

prefetchさせない
  core/src/app/_components/global-layout/llm-link/llm-link.tsx
  core/src/components/icon-link/icon-link.tsx
Due: format

デフォルトを意識しないように
  core/src/components/icon-link/icon-link.tsx
Due: format

bgtrans-bg-trans
  core/src/components/form/autocomplete/autocomplete.tsx
  core/src/components/form/number-field/number-field.tsx
  core/src/components/icon-button/icon-button.tsx
  core/src/components/icon-link/icon-link.tsx
Due: format

内部パッケージをルートに
  core/package.json
  package.json
  pnpm-lock.yaml
Due: none

位置を調整
  package.json
Due: none

chromaticはcoreにあるので削除
  package.json
  pnpm-lock.yaml
Due: none

typedRoutesをやめる
  core/next.config.ts
  core/src/app/_components/app-card/app-card.tsx
  core/src/app/blog/_components/blog-card/blog-card.tsx
  core/src/app/blog/_components/blog-layout/blog-layout.tsx
  core/src/app/blog/_components/blog-layout/recommend/recommend.tsx
  core/src/app/tags/_components/tag-card/tag-card.tsx
  core/src/app/tags/_components/tag-content/tag-content.tsx
  core/src/app/tags/page.tsx
  core/src/app/talks/_components/talk-card/talk-card.tsx
  core/src/components/anchor/anchor.tsx
  core/src/components/breadcrumb/breadcrumb.tsx
  core/src/components/icon-link/icon-link.tsx
  core/src/components/link-button/link-button.tsx
  core/src/components/text-tag/text-tag.tsx
  packages/helpers/src/is-internal-route/index.ts
Due: format, lint, ls-lint

remove lucide
  core/src/app/_components/app-card/app-card.stories.tsx
Due: format

Update core/src/app/_components/color-filters/color-filters.tsx
  core/src/app/_components/color-filters/color-filters.tsx
Due: format

fmt
  core/src/app/contrast-checker/_components/result-table/result-table.tsx
  core/src/emails/weekly-notification.tsx
Due: format

cssでimport
  core/.storybook/preview.tsx
  core/src/app/_styles/globals.css
  core/src/app/layout.tsx
Due: format

componentsのcssもみてもらう
  packages/components/src/styles.css
Due: none

components用のchormaticを用意
  .github/workflows/chromatic-components.yml
  .github/workflows/chromatic-core.yml
Due: none

Path conditions:
  format: any of: *.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}, but not: **/mockServiceWorker.js
  lint: any of: {src,packages}/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}
  ls-lint: any of: {src,packages}/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}
