Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: node --experimental-strip-types node_modules/prettier/bin/prettier.cjs --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm run lint:fix --file {staged_files}
  stage_fixed: true

当日までリンクさせない
  src/app/talks/_components/talk-card/talk-card.tsx
Due: format, lint

画像の更新
  src/database/README.md
Due: format

表示を入れ替える
  src/app/_components/global-layout/global-layout.tsx
  src/app/_components/global-layout/navigation-menu/navigation-menu.tsx
Due: format, lint

tag一覧にtalksも表示する
  src/app/tags/_components/tag-content/tag-content.stories.tsx
  src/app/tags/_components/tag-content/tag-content.tsx
  src/app/tags/page.tsx
  src/database/schema/tags.ts
  src/services/tags/index.test.ts
  src/services/tags/index.ts
Due: format, lint

記事の追加
  migrations/0035_bright_shaman.sql
  migrations/meta/0035_snapshot.json
  migrations/meta/_journal.json
  src/app/blog/(articles)/json-modules/layout.tsx
  src/app/blog/(articles)/json-modules/opengraph-image.tsx
  src/app/blog/(articles)/json-modules/page.mdx
  src/app/blog/(articles)/json-modules/twitter-image.tsx
Due: format, lint

日付を更新
  src/app/blog/(articles)/json-modules/page.mdx
Due: format

ブログのテキストを書き直す
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/_images/inference-pattern.png
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/_images/react18vsreact19.png
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/page.mdx
Due: format

一行目のインデントがぶれていたので修正
  src/mdx-components.tsx
Due: format, lint

執筆時点に変更
  src/app/blog/(articles)/json-modules/page.mdx
  src/app/blog/(articles)/screen-wake-lock/page.mdx
  src/app/blog/(articles)/tanstack-router-introduction/page.mdx
Due: format

typo
  src/app/blog/(articles)/screen-wake-lock/page.mdx
Due: format

typo
  src/app/blog/(articles)/json-modules/page.mdx
Due: format

ls-lintのお試し導入
  .github/workflows/ci.yml
  .ls-lint.yml
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

xアイコンの改善
  src/components/icons/twitter.tsx
Due: format, lint

pageに追加
  src/app/page.tsx
Due: format, lint

小さな画面サイズに合わせて改行を調整
  src/app/page.tsx
Due: format, lint

svgからwidthとheightを削除
  src/components/icons/github-mark.tsx
  src/components/icons/twitter.tsx
  src/components/icons/zenn.tsx
Due: format, lint

talkを公開する
  migrations/0036_regular_landau.sql
  migrations/meta/0036_snapshot.json
  migrations/meta/_journal.json
Due: none

productionでも表示させる(表示させないコンポーネント付き)
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/layout.tsx
  src/components/development-only/development-only.tsx
  src/components/development-only/index.ts
Due: format, lint

blogにもスライドリンクを追加
  src/app/blog/_components/blog-layout/blog-layout.tsx
  src/app/blog/_components/blog-layout/talks-link/index.ts
  src/app/blog/_components/blog-layout/talks-link/talk-link.tsx
  src/app/blog/_services/index.ts
  src/components/link-button/link-button.tsx
  src/database/schema/blogs.ts
Due: format, lint

cacheで時間になっても表示されなそうなので外す
  src/app/talks/_components/talk-card/talk-card.tsx
Due: format, lint

wrap
  src/app/talks/_components/talk-card/talk-card.tsx
Due: format, lint

mswのファイルを更新
  .storybook/public/mockServiceWorker.js
Due: none

blogにメタデータを追加
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/layout.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/opengraph-image.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/twitter-image.tsx
Due: format, lint

fix
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/_images/react18vsreact19.png
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/page.mdx
Due: format

fix text
  src/app/page.tsx
Due: format, lint

vercelのanalyticsを復活
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: format, lint

liamの導入と周辺scriptの導入
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ignoreの追加
  .gitignore
Due: none

gh-pagesにerdをデプロイさせる
  .github/workflows/erd.yml
Due: none

refactor comments
  .github/workflows/erd.yml
Due: none

docs: ER図のURLと自動更新の説明を追加
  src/database/README.md
Due: format

iframeは無理っぽい
  src/database/README.md
Due: format

updatedAtを更新する
  src/app/blog/(articles)/color-perception/page.mdx
Due: format

servicesに移行する
  src/app/quizzes/_components/answer/answer.tsx
  src/app/quizzes/_components/collection/collection.tsx
  src/app/quizzes/_components/complete/complete.tsx
  src/app/quizzes/_components/question/question.tsx
  src/app/quizzes/_components/start/start.tsx
  src/app/quizzes/_types/index.ts
  src/app/quizzes/fish-kanji/_components/fish-kanji-collection/fish-kanji-collection.tsx
  src/app/quizzes/fish-kanji/_utils/constants.ts
  src/app/quizzes/fish-kanji/page.tsx
  src/services/quizzes/constants.ts
  src/services/quizzes/index.ts
  src/services/quizzes/quiz-type.ts
  src/services/quizzes/quiz.ts
  src/services/quizzes/types.ts
Due: format, lint

testの追加
  src/services/quizzes/quiz-type.test.ts
  src/services/quizzes/quiz.test.ts
Due: format, lint

ファイル名を更新
  src/services/feedbacks/constants.ts
  src/services/feedbacks/index.ts
  src/services/feedbacks/types.ts
Due: format, lint

テストを移動
  src/services/quizzes/__test__/quiz-type.test.ts
  src/services/quizzes/__test__/quiz.test.ts
Due: format, lint

llmsとfeedを別タブで開くように
  src/app/blog/_components/external-blog/external-blog.tsx
  src/components/anchor/anchor.tsx
  src/components/icon-link/icon-link.tsx
  src/components/link-button/link-button.tsx
Due: format, lint

requestcloseの記事作成
  migrations/0037_cynical_smiling_tiger.sql
  migrations/meta/0037_snapshot.json
  migrations/meta/_journal.json
  src/app/blog/(articles)/requestclose/_components/example1.tsx
  src/app/blog/(articles)/requestclose/layout.tsx
  src/app/blog/(articles)/requestclose/opengraph-image.tsx
  src/app/blog/(articles)/requestclose/page.mdx
  src/app/blog/(articles)/requestclose/twitter-image.tsx
Due: format, lint

Update page.mdx
  src/app/blog/(articles)/requestclose/page.mdx
Due: format

Path conditions:
  format: any of: *.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}, but not: **/mockServiceWorker.js
  lint: any of: *.{js,ts,cjs,d.cts,d.ts,jsx,tsx}, but not: **/mockServiceWorker.js
