Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: node --experimental-strip-types node_modules/prettier/bin/prettier.cjs --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm run lint:fix --file {staged_files}
  stage_fixed: true

Googleのanalyticsを追加
  .env.example
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: format, lint

descriptionをnull許容に
  src/app/blog/(articles)/async-clipboard/layout.tsx
  src/app/blog/(articles)/atomics-pause/layout.tsx
  src/app/blog/(articles)/color-certification-uc/layout.tsx
  src/app/blog/(articles)/color-contrast/layout.tsx
  src/app/blog/(articles)/color-perception/layout.tsx
  src/app/blog/(articles)/contenteditable-plaintextonly/layout.tsx
  src/app/blog/(articles)/float16array/layout.tsx
  src/app/blog/(articles)/intl-duration-format/layout.tsx
  src/app/blog/(articles)/iterator-methods/layout.tsx
  src/app/blog/(articles)/popover/layout.tsx
  src/app/blog/(articles)/promise-try/layout.tsx
  src/app/blog/(articles)/screen-wake-lock/layout.tsx
  src/app/blog/(articles)/single-color-gradients/layout.tsx
  src/app/blog/(articles)/tanstack-router-introduction/layout.tsx
  src/app/blog/feed/route.ts
  src/utils/mdx/frontmatter.ts
Due: format, lint

llms.txtを生成する
  src/app/llms.txt/route.ts
Due: format, lint

layoutに追加
  src/app/blog/_components/external-blog/external-blog.tsx
  src/components/icons/icons.stories.tsx
  src/components/icons/lucide.tsx
Due: format, lint

mockServiceWorker.jsの更新
  .storybook/public/mockServiceWorker.js
Due: none

nodeのバージョンアップ
  package.json
Due: none

typesオプションを消す
  lefthook.yml
Due: none

blogにblockquoteを追加
  src/mdx-components.tsx
Due: format, lint

VERCEL_ENVを見る
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/layout.tsx
Due: format, lint

アプリ全般を保管するテーブルの作成
  src/database/schema/index.ts
  src/database/schema/service-tag.ts
  src/database/schema/service-type.ts
  src/database/schema/services.ts
  src/database/schema/tags.ts
Due: format, lint

add name
  src/database/schema/services.ts
Due: format, lint

generate migration file
  migrations/0030_lazy_mach_iv.sql
  migrations/meta/0030_snapshot.json
  migrations/meta/_journal.json
Due: none

コンテンツの挿入
  migrations/0031_nappy_cobalt_man.sql
  migrations/meta/0031_snapshot.json
  migrations/meta/_journal.json
Due: none

tagの一覧と詳細を取得できるように
  src/services/tags/index.test.ts
  src/services/tags/index.ts
Due: format, lint

tagのカードを表示できるように
  src/app/tags/_components/tag-card/index.ts
  src/app/tags/_components/tag-card/tag-card.stories.tsx
  src/app/tags/_components/tag-card/tag-card.tsx
  src/components/card/interactive-card.tsx
Due: format, lint

tagのページを作成
  src/app/tags/layout.tsx
  src/app/tags/page.tsx
Due: format, lint

詳細作成
  src/app/tags/[id]/page.tsx
  src/app/tags/_components/tag-card/tag-card.tsx
  src/app/tags/_components/tag-content/index.ts
  src/app/tags/_components/tag-content/tag-content.stories.tsx
  src/app/tags/_components/tag-content/tag-content.tsx
Due: format, lint

publishedだけにする
  src/services/tags/index.ts
Due: format, lint

blogを読ませる
  src/app/tags/_components/tag-content/tag-content.tsx
Due: format, lint

testの修正
  src/services/tags/index.test.ts
Due: format, lint

text-tagをlinkにできるように colorも不要なので削除
  src/components/text-tag/text-tag.stories.tsx
  src/components/text-tag/text-tag.tsx
Due: format, lint

Cardの見た目の整理
  src/app/tags/_components/tag-card/tag-card.stories.tsx
  src/app/tags/_components/tag-card/tag-card.tsx
  src/app/tags/_components/tag-content/tag-content.tsx
  src/app/tags/page.tsx
Due: format, lint

ヘッダーにタグ置き場を追加
  src/app/_components/global-layout/global-layout.tsx
  src/app/_components/global-layout/navigation-menu/navigation-menu.tsx
  src/app/_components/global-layout/tags-link/index.ts
  src/app/_components/global-layout/tags-link/tags-link.stories.tsx
  src/app/_components/global-layout/tags-link/tags-link.tsx
Due: format, lint

blogのタグにリンクをつける
  src/app/blog/_components/blog-layout/tags/tags.tsx
Due: format, lint

serviceのパスを修正
  src/app/tags/_components/tag-content/tag-content.tsx
Due: format, lint

migration fileの作成
  migrations/0032_old_captain_midlands.sql
  migrations/meta/0032_snapshot.json
  migrations/meta/_journal.json
Due: none

blogの作成
  src/app/blog/(articles)/regexp-escape/layout.tsx
  src/app/blog/(articles)/regexp-escape/opengraph-image.tsx
  src/app/blog/(articles)/regexp-escape/page.mdx
  src/app/blog/(articles)/regexp-escape/twitter-image.tsx
Due: format, lint

文字化け対策
  src/app/blog/(articles)/regexp-escape/page.mdx
Due: format

pnpmの設定をpackage.jsonから剥がす
  package.json
  pnpm-workspace.yaml
Due: none

animationを小さく設ける
  src/app/tags/_components/tag-card/tag-card.tsx
Due: format, lint

offをなくす(携帯だと辛い)
  src/components/card/interactive-card.tsx
Due: format, lint

段落の調整
  src/app/llms.txt/route.ts
Due: format, lint

vitestを除外
  renovate.json5
Due: none

storybook-addon-mock-dateを剥がす
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint

vitest.setup.tsの改善
  .storybook/vitest.setup.ts
Due: format, lint

blogを記述
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/page.mdx
Due: format

talksについてのtableを作成
  migrations/0033_melodic_ma_gnuci.sql
  migrations/meta/0033_snapshot.json
  migrations/meta/_journal.json
  src/database/schema/index.ts
  src/database/schema/talk-tag.ts
  src/database/schema/talks.ts
Due: format, lint

talksを表示する
  migrations/0034_thin_millenium_guard.sql
  migrations/meta/0034_snapshot.json
  migrations/meta/_journal.json
  src/app/talks/_components/talk-card/talk-card.stories.tsx
  src/app/talks/_components/talk-card/talk-card.tsx
  src/app/talks/page.tsx
  src/database/schema/talks.ts
  src/services/talks/index.test.ts
  src/services/talks/index.ts
Due: format, lint

mswの更新
  .storybook/public/mockServiceWorker.js
Due: none

Path conditions:
  format: any of: *.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}, but not: **/mockServiceWorker.js
  lint: any of: *.{js,ts,cjs,d.cts,d.ts,jsx,tsx}, but not: **/mockServiceWorker.js
