Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, ls-lint

lefthook.yml:

pre-commit:
  paralell: true
  commands:
    format:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}'
      run: NODE_OPTIONS='--experimental-strip-types' pnpm prettier --write {staged_files}
      stage_fixed: true
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: 'src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run lint:fix --file {staged_files}
      stage_fixed: true
    
    ls-lint:
      glob: 'src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run ls-lint
      stage_fixed: true

pre-push:
  paralell: true
  commands:
    format:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}'
      run: NODE_OPTIONS='--experimental-strip-types' pnpm prettier --check {staged_files}
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: 'src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run lint --file {staged_files}

    test:
      glob: 'src/**/*.test.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run test run {staged_files}

layoutに追加
  src/app/blog/layout.tsx
Due: format, lint, ls-lint

writing-modeのstyleを追加
  src/app/_styles/globals.css
Due: none

一覧ページを縦書き対応させる
  src/app/blog/_components/blog-card/blog-card-list.tsx
  src/app/blog/_components/blog-card/blog-card.tsx
  src/app/blog/_components/blog-card/index.ts
  src/app/blog/page.tsx
Due: format, lint, ls-lint

cssのコメントアウト修正
  src/app/blog/(articles)/print-color-adjust/page.mdx
Due: format

client部分を分離
  src/app/blog/_components/blog-layout/blog-layout.tsx
  src/app/blog/_components/blog-layout/content.tsx
Due: format, lint, ls-lint

ブログのコンテンツも横書きに
  src/app/blog/_components/blog-layout/content.tsx
  src/mdx-components.tsx
Due: format, lint, ls-lint

qiitaのユーザー名を変更
  src/app/blog/_components/external-blog/external-blog.tsx
  src/app/page.tsx
Due: format, lint, ls-lint

vitest uiにcoverageを追加
  package.json
Due: none

errorを表示させる
  .storybook/preview.tsx
Due: format

formのlabelなしはテストしない
  src/components/form/form-control/form-control.stories.tsx
  src/components/form/number-field/number-field.stories.tsx
  src/components/form/select/select.stories.tsx
  src/components/form/text-field/text-field.stories.tsx
  src/components/form/textarea/textarea.stories.tsx
Due: format, lint, ls-lint

storyの調整
  src/app/design-system/_components/color/color.stories.tsx
  src/components/icon-button/icon-button.stories.tsx
Due: format, lint, ls-lint

labelを付与
  src/app/quizzes/_components/quiz-progress/quiz-progress.tsx
  src/components/link-button/link-button.stories.tsx
  src/components/link-button/link-button.tsx
  src/components/list-box/list-box.tsx
  src/components/progress/progress.tsx
Due: format, lint, ls-lint

実験
  src/app/blog/(articles)/json-modules/twitter-image.tsx
  src/app/blog/(articles)/popover/twitter-image.tsx
Due: format, lint, ls-lint

twitter-image.tsxを削除
  src/app/blog/(articles)/async-clipboard/twitter-image.tsx
  src/app/blog/(articles)/atomics-pause/twitter-image.tsx
  src/app/blog/(articles)/color-certification-uc/twitter-image.tsx
  src/app/blog/(articles)/color-contrast/twitter-image.tsx
  src/app/blog/(articles)/color-perception/twitter-image.tsx
  src/app/blog/(articles)/contenteditable-plaintextonly/twitter-image.tsx
  src/app/blog/(articles)/float16array/twitter-image.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/twitter-image.tsx
  src/app/blog/(articles)/intl-duration-format/twitter-image.tsx
  src/app/blog/(articles)/iterator-methods/twitter-image.tsx
  src/app/blog/(articles)/popover/twitter-image.tsx
  src/app/blog/(articles)/print-color-adjust/twitter-image.tsx
  src/app/blog/(articles)/promise-try/twitter-image.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/twitter-image.tsx
  src/app/blog/(articles)/regexp-escape/twitter-image.tsx
  src/app/blog/(articles)/requestclose/twitter-image.tsx
  src/app/blog/(articles)/screen-wake-lock/twitter-image.tsx
  src/app/blog/(articles)/single-color-gradients/twitter-image.tsx
  src/app/blog/(articles)/tanstack-router-introduction/twitter-image.tsx
Due: format, lint, ls-lint

もう少し丸みをつける
  src/app/blog/(articles)/async-clipboard/opengraph-image.tsx
  src/app/blog/(articles)/atomics-pause/opengraph-image.tsx
  src/app/blog/(articles)/color-certification-uc/opengraph-image.tsx
  src/app/blog/(articles)/color-contrast/opengraph-image.tsx
  src/app/blog/(articles)/color-perception/opengraph-image.tsx
  src/app/blog/(articles)/contenteditable-plaintextonly/opengraph-image.tsx
  src/app/blog/(articles)/float16array/opengraph-image.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/opengraph-image.tsx
  src/app/blog/(articles)/intl-duration-format/opengraph-image.tsx
  src/app/blog/(articles)/iterator-methods/opengraph-image.tsx
  src/app/blog/(articles)/json-modules/opengraph-image.tsx
  src/app/blog/(articles)/popover/opengraph-image.tsx
  src/app/blog/(articles)/print-color-adjust/opengraph-image.tsx
  src/app/blog/(articles)/promise-try/opengraph-image.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/opengraph-image.tsx
  src/app/blog/(articles)/regexp-escape/opengraph-image.tsx
  src/app/blog/(articles)/requestclose/opengraph-image.tsx
  src/app/blog/(articles)/screen-wake-lock/opengraph-image.tsx
  src/app/blog/(articles)/single-color-gradients/opengraph-image.tsx
  src/app/blog/(articles)/tanstack-router-introduction/opengraph-image.tsx
Due: format, lint, ls-lint

borderを拡張
  src/app/blog/(articles)/async-clipboard/opengraph-image.tsx
  src/app/blog/(articles)/atomics-pause/opengraph-image.tsx
  src/app/blog/(articles)/color-certification-uc/opengraph-image.tsx
  src/app/blog/(articles)/color-contrast/opengraph-image.tsx
  src/app/blog/(articles)/color-perception/opengraph-image.tsx
  src/app/blog/(articles)/contenteditable-plaintextonly/opengraph-image.tsx
  src/app/blog/(articles)/float16array/opengraph-image.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/opengraph-image.tsx
  src/app/blog/(articles)/intl-duration-format/opengraph-image.tsx
  src/app/blog/(articles)/iterator-methods/opengraph-image.tsx
  src/app/blog/(articles)/json-modules/opengraph-image.tsx
  src/app/blog/(articles)/popover/opengraph-image.tsx
  src/app/blog/(articles)/print-color-adjust/opengraph-image.tsx
  src/app/blog/(articles)/promise-try/opengraph-image.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/opengraph-image.tsx
  src/app/blog/(articles)/regexp-escape/opengraph-image.tsx
  src/app/blog/(articles)/requestclose/opengraph-image.tsx
  src/app/blog/(articles)/screen-wake-lock/opengraph-image.tsx
  src/app/blog/(articles)/single-color-gradients/opengraph-image.tsx
  src/app/blog/(articles)/tanstack-router-introduction/opengraph-image.tsx
Due: format, lint, ls-lint

_apiにする
  src/app/_api/contact-to-me.ts
  src/app/_components/contact-to-me/contact-to-me.tsx
Due: format, lint, ls-lint

同時にやるとformatがうまくいかないので直列に
  lefthook.yml
Due: none

@
  src/app/_components/contact-to-me/contact-to-me.tsx
Due: format, lint, ls-lint

QRKitを追加
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/app/qr-generator/_components/qr-generator/index.ts
  src/app/qr-generator/_components/qr-generator/qr-generator.stories.tsx
  src/app/qr-generator/_components/qr-generator/qr-generator.tsx
  src/app/qr-generator/layout.tsx
  src/app/qr-generator/opengraph-image.tsx
  src/app/qr-generator/page.tsx
Due: format, lint, ls-lint

QRKitのデータベースマイグレーションを追加
  migrations/0040_fluffy_maginty.sql
  migrations/meta/0040_snapshot.json
  migrations/meta/_journal.json
Due: none

RangeFieldコンポーネントを追加
  src/app/qr-generator/_components/qr-generator/qr-generator.tsx
  src/components/form/range-field/index.ts
  src/components/form/range-field/range-field.stories.tsx
  src/components/form/range-field/range-field.tsx
Due: format, lint, ls-lint

RangeFieldのa11yテスト設定を修正
  src/components/form/range-field/range-field.stories.tsx
Due: format, lint, ls-lint

テスト設定ファイルのパス修正
  .storybook/preview.tsx
  vitest.config.ts
Due: format

mockServiceWorker.jsの更新
  .storybook/public/mockServiceWorker.js
Due: none

テストの修正
  src/services/blogs/view.test.ts
  src/services/feedbacks/index.test.ts
Due: format, lint, ls-lint

tsc
  src/app/design-system/_components/color/color-info/color-info.tsx
  src/components/tooltip/tooltip.tsx
Due: format, lint, ls-lint

Add background decorator to feedback-card stories
  src/app/_components/feedback-card/feedback-card.stories.tsx
Due: format, lint, ls-lint

Improve QR generator responsive design
  src/app/qr-generator/_components/qr-generator/qr-generator.tsx
Due: format, lint, ls-lint

Redesign homepage profile card with modern responsive layout
  src/app/_components/app-card/app-card.tsx
  src/app/page.tsx
Due: format, lint, ls-lint

roundedを修正
  src/app/page.tsx
Due: format, lint, ls-lint

Replace hardcoded skill tags with TextTag components
  src/app/page.tsx
Due: format, lint, ls-lint

popoverのタイトルを修正する
  src/app/blog/(articles)/popover/opengraph-image.tsx
  src/app/blog/(articles)/popover/page.mdx
Due: format, lint, ls-lint

shadowを消してbgにする
  src/app/qr-generator/_components/qr-generator/qr-generator.tsx
Due: format, lint, ls-lint

globalの設定の変更
  src/app/_styles/globals.css
Due: none

textサイズと色の変更
  src/app/_components/app-card/app-card.tsx
Due: format, lint, ls-lint

warp-normal
  src/app/color-converter/_components/color-converter/color-converter.tsx
Due: format, lint, ls-lint

scrollの方向がわかるhooks
  src/hooks/scroll-direction/index.test.ts
  src/hooks/scroll-direction/index.ts
Due: format, lint, ls-lint

下スクロールでheaderの表示をフェードアウトする
  src/app/_components/global-layout/global-layout.tsx
  src/app/_components/global-layout/header/header.tsx
  src/app/_components/global-layout/header/index.ts
Due: format, lint, ls-lint
