Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  paralell: true
  commands:
    format:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}'
      run: node --experimental-strip-types node_modules/prettier/bin/prettier.cjs --write {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run lint:fix --file {staged_files}
      stage_fixed: true

pre-push:
  paralell: true
  commands:
    format:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}'
      run: node --experimental-strip-types node_modules/prettier/bin/prettier.cjs --check {staged_files}
    lint:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run lint --file {staged_files}
    test:
      glob: '*.test.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run test run {staged_files}

throwを準備
  src/app/blog/async-clipboard/_components/example2.tsx
Due: format, lint

frontmatterを配置
  src/app/blog/async-clipboard/page.mdx
  src/app/blog/color-certification-uc/page.mdx
  src/app/blog/color-contrast/page.mdx
  src/app/blog/color-perception/page.mdx
  src/app/blog/contenteditable-plaintextonly/page.mdx
  src/app/blog/intl-duration-format/page.mdx
  src/app/blog/popover/page.mdx
  src/app/blog/promise-try/page.mdx
  src/app/blog/screen-wake-lock/page.mdx
  src/app/blog/tanstack-router-introduction/page.mdx
Due: format

tocの削除
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/utils/mdx/toc-tree.ts
Due: format, lint

createdAtを残す
  migrations/0019_moaning_vector.sql
  migrations/meta/0019_snapshot.json
  migrations/meta/_journal.json
Due: none

pyをsm以上だけに
  src/mdx-components.tsx
Due: format, lint

blog-cardのテストをスキップ
  vitest.config.ts
Due: format, lint

時間を詳細に
  src/app/blog/async-clipboard/page.mdx
  src/app/blog/color-certification-uc/page.mdx
  src/app/blog/color-contrast/page.mdx
  src/app/blog/color-perception/page.mdx
  src/app/blog/contenteditable-plaintextonly/page.mdx
  src/app/blog/intl-duration-format/page.mdx
  src/app/blog/popover/page.mdx
  src/app/blog/promise-try/page.mdx
  src/app/blog/screen-wake-lock/page.mdx
  src/app/blog/tanstack-router-introduction/page.mdx
Due: format

actionsをservicesに
  src/app/_components/contact-to-me/contact-to-me.tsx
  src/app/_services/contact-to-me.ts
  src/app/quizzes/_services/index.ts
  src/app/quizzes/fish-kanji/_components/fish-kanji-collection/fish-kanji-collection.tsx
  src/app/quizzes/fish-kanji/page.tsx
Due: format, lint

migrationとicon作成
  migrations/0020_bizarre_triton.sql
  migrations/meta/0020_snapshot.json
  migrations/meta/_journal.json
  src/app/_services/feedback.ts
  src/components/icons/icons.stories.tsx
  src/components/icons/lucide.tsx
  src/database/schema.ts
Due: format, lint

next.jsのバージョンアップ
  package.json
  pnpm-lock.yaml
Due: none

onNavigateに変更
  src/app/_components/color-filters/color-filters.tsx
Due: format, lint

as Routeを削除
  src/app/_components/color-filters/color-filters.tsx
Due: format, lint

移動
  src/app/contrast-checker/_components/check-contrast/check-contrast.stories.tsx
  src/app/contrast-checker/_components/description/description.stories.tsx
  src/app/contrast-checker/_components/result-table/result-table.stories.tsx
Due: format, lint

descriptionを構造的にする
  src/app/contrast-checker/_components/description/description.tsx
Due: format, lint

blogにfeedbackを挿入
  src/app/_components/feedback-card/feedback-card.stories.tsx
  src/app/_components/feedback-card/feedback-card.tsx
  src/app/_components/feedback-card/index.ts
  src/app/_services/feedback.ts
  src/app/blog/_components/blog-layout/blog-layout.tsx
  src/app/blog/_components/blog-layout/feedback/feedback.tsx
  src/app/blog/_components/blog-layout/feedback/index.ts
  src/components/card/card.stories.tsx
  src/components/card/card.tsx
  src/components/card/interactive-card.tsx
  src/components/card/type.ts
Due: format, lint

feedbackを送信できるように
  src/app/_components/feedback-card/feedback-card.tsx
  src/app/blog/_components/blog-layout/blog-layout.tsx
  src/app/blog/_components/blog-layout/feedback/feedback.tsx
  src/app/blog/_services/action.ts
Due: format, lint

fn()
  src/app/_components/feedback-card/feedback-card.stories.tsx
Due: format, lint

sn以下では2に
  src/app/_components/feedback-card/feedback-card.tsx
Due: format, lint

atomicsについての記事を作成
  migrations/0021_tricky_freak.sql
  migrations/meta/0021_snapshot.json
  migrations/meta/_journal.json
  src/app/blog/atomics-pause/layout.tsx
  src/app/blog/atomics-pause/opengraph-image.tsx
  src/app/blog/atomics-pause/page.mdx
  src/app/blog/atomics-pause/twitter-image.tsx
Due: format, lint

createAtの修正
  src/app/blog/atomics-pause/page.mdx
Due: format

日本語修正
  src/app/blog/atomics-pause/page.mdx
Due: format

上限を50にする
  src/app/blog/_services/index.ts
Due: format, lint

おわりに追加
  src/app/blog/atomics-pause/page.mdx
Due: format

fmt
  src/app/blog/atomics-pause/page.mdx
Due: format

migrationファイル
  migrations/0022_wakeful_bushwacker.sql
  migrations/meta/0022_snapshot.json
  migrations/meta/_journal.json
Due: none

blogの作成
  src/app/blog/float16array/layout.tsx
  src/app/blog/float16array/opengraph-image.tsx
  src/app/blog/float16array/page.mdx
  src/app/blog/float16array/twitter-image.tsx
Due: format, lint

alt修正
  src/app/blog/async-clipboard/opengraph-image.tsx
  src/app/blog/async-clipboard/twitter-image.tsx
Due: format, lint

文章校正
  src/app/blog/float16array/page.mdx
Due: format

lefthookの対象からmockServiceWorker.jsを除外
  lefthook.yml
Due: none

mockServiceWorker.jsの更新
  .storybook/public/mockServiceWorker.js
Due: format, lint

dbの設定を変更
  compose.yml
  src/database/db.ts
Due: format, lint

fmtがかかっていたので戻す
  .storybook/public/mockServiceWorker.js
Due: format, lint

テーブルごとにファイルを作成する
  drizzle.config.ts
  src/app/_services/contact-to-me.ts
  src/app/blog/_services/action.ts
  src/app/blog/_services/index.ts
  src/app/quizzes/_services/index.ts
  src/database/db.ts
  src/database/schema.ts
  src/database/schema/blog-feedback.ts
  src/database/schema/blog-tag.ts
  src/database/schema/blog-views.ts
  src/database/schema/blogs.ts
  src/database/schema/feedback.ts
  src/database/schema/index.ts
  src/database/schema/inquiry.ts
  src/database/schema/quiz-answers.ts
  src/database/schema/quiz-questions.ts
  src/database/schema/quiz-type.ts
  src/database/schema/quzzes.ts
  src/database/schema/tags.ts
Due: format, lint

tableをcommentsに変更
  migrations/0023_plain_moondragon.sql
  migrations/meta/0023_snapshot.json
  migrations/meta/_journal.json
  src/app/_services/contact-to-me.ts
  src/database/schema/comments.ts
  src/database/schema/index.ts
Due: format, lint

sentAtを更新させない
  src/app/_services/contact-to-me.ts
Due: format, lint

form-controlの配置改善
  src/components/form/form-control/form-control.tsx
Due: format, lint

feedbackでコメントを送れるように
  migrations/0024_cute_wallow.sql
  migrations/meta/0024_snapshot.json
  migrations/meta/_journal.json
  src/app/_components/feedback-card/feedback-card.tsx
  src/app/blog/_components/blog-layout/feedback/feedback.tsx
  src/app/blog/_services/action.ts
  src/database/schema/blog-comment.ts
  src/database/schema/blog-feedback.ts
  src/database/schema/blogs.ts
  src/database/schema/comments.ts
  src/database/schema/feedback.ts
  src/database/schema/index.ts
Due: format, lint

blogのidも合わせて更新する
  src/app/_components/feedback-card/feedback-card.tsx
  src/app/blog/_services/action.ts
Due: format, lint

feedbackの見た目を調整
  src/app/_components/feedback-card/feedback-card.tsx
  src/app/blog/_components/blog-layout/blog-layout.tsx
  src/app/blog/_components/blog-layout/feedback/feedback.tsx
Due: format, lint
