Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, ls-lint

format:
  run: NODE_OPTIONS='--experimental-strip-types' pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm run lint:fix --file {staged_files}
  stage_fixed: true

ls-lint:
  run: pnpm run ls-lint
  stage_fixed: true

feat: add interactive playgrounds page
  src/app/page.tsx
  src/app/playgrounds/layout.tsx
  src/app/playgrounds/opengraph-image.tsx
  src/app/playgrounds/page.tsx
  src/app/playgrounds/twitter-image.tsx
Due: format, lint, ls-lint

claude codeのhookを導入
  .claude/settings.json
Due: none

処理を分離
  src/helpers/number/commalize.ts
Due: format, lint, ls-lint

copilotは使わないので削除
  .github/pull_request_template.md
Due: format

add missing space
  .claude/settings.json
Due: none

AIで散らかった部分を修正
  src/app/_components/playgrounds/abs-sign/index.ts
  src/app/_components/playgrounds/async-clipboard/index.ts
  src/app/_components/playgrounds/highlight/index.ts
  src/app/_components/playgrounds/index.ts
  src/app/_components/playgrounds/popover/index.ts
  src/app/_components/playgrounds/print-color-adjust/index.ts
  src/app/_components/playgrounds/requestclose/index.ts
  src/app/_components/playgrounds/screen-wake-lock/index.ts
  src/app/_components/playgrounds/spelling-grammar-error/index.ts
  src/app/_components/playgrounds/suspense-list/index.ts
  src/app/_components/playgrounds/types.ts
  src/app/page.tsx
  src/app/playgrounds/layout.tsx
  src/app/playgrounds/opengraph-image.tsx
  src/app/playgrounds/page.tsx
  src/app/playgrounds/twitter-image.tsx
Due: format, lint, ls-lint

文言の修正
  src/app/page.tsx
  src/app/playgrounds/layout.tsx
Due: format, lint, ls-lint

convert fc
  src/app/_components/playgrounds/types.ts
Due: format, lint, ls-lint

twitter-imageの削除
  src/app/base-converter/twitter-image.tsx
  src/app/blog/twitter-image.tsx
  src/app/color-converter/twitter-image.tsx
  src/app/contrast-checker/twitter-image.tsx
  src/app/design-system/twitter-image.tsx
  src/app/japanese-text-fixer/twitter-image.tsx
  src/app/moji-count/twitter-image.tsx
  src/app/quizzes/fish-kanji/twitter-image.tsx
  src/app/quizzes/twitter-image.tsx
  src/app/radius-maker/twitter-image.tsx
  src/app/sql-table-builder/twitter-image.tsx
  src/app/talks/twitter-image.tsx
  src/app/twitter-image.tsx
Due: format, lint, ls-lint

sondaの導入
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: format

@next/bundle-analyzerの削除
  package.json
  pnpm-lock.yaml
Due: none

アプリ全体にボタンを追加
  src/app/_components/global-layout/global-layout.tsx
  src/app/_components/global-layout/llm-link/index.ts
  src/app/_components/global-layout/llm-link/llm-link.stories.tsx
  src/app/_components/global-layout/llm-link/llm-link.tsx
  src/app/_components/global-layout/navigation-menu/navigation-menu.tsx
  src/app/blog/_components/external-blog/external-blog.tsx
Due: format, lint, ls-lint

update mockServieWorker.js
  .storybook/public/mockServiceWorker.js
Due: none

react-scanを本番で出さないように
  src/app/layout.tsx
Due: format, lint, ls-lint

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Claude Code Reviewワークフローの設定を更新し、特定のユーザーに対する条件を明確化。CI結果の読み取り権限を追加し、応答を日本語に指定。
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

testを更新
  src/services/blogs/action.test.ts
  src/services/blogs/blog.test.ts
  src/services/blogs/blogs.test.ts
Due: format, lint, ls-lint

Routeを外から渡す
  packages/helpers/src/is-internal-route/index.ts
  src/components/anchor/anchor.tsx
  src/components/icon-link/icon-link.tsx
  src/components/link-button/link-button.tsx
Due: format, lint, ls-lint

separatorのvertical時はdivを使ってverticalであることを伝えるように
  src/components/separator/separator.tsx
Due: format, lint, ls-lint

hooksを別のパッケージに
  package.json
  packages/hooks/package.json
  packages/hooks/src/click-away/index.test.tsx
  packages/hooks/src/click-away/index.ts
  packages/hooks/src/client/index.ts
  packages/hooks/src/clipboard/index.test.ts
  packages/hooks/src/clipboard/index.ts
  packages/hooks/src/hash/index.test.ts
  packages/hooks/src/hash/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/interval/index.test.ts
  packages/hooks/src/interval/index.ts
  packages/hooks/src/local-storage/index.test.ts
  packages/hooks/src/local-storage/index.ts
  packages/hooks/src/scroll-direction/index.test.ts
  packages/hooks/src/scroll-direction/index.ts
  packages/hooks/src/step/index.test.ts
  packages/hooks/src/step/index.ts
  packages/hooks/src/timeout/index.test.ts
  packages/hooks/src/timeout/index.ts
  packages/hooks/src/window-size/index.test.ts
  packages/hooks/src/window-size/index.ts
  packages/hooks/tsconfig.json
  pnpm-lock.yaml
  src/app/_components/global-layout/header/header.tsx
  src/app/blog/_components/subscribe/subscribe-card.tsx/rss-panel.tsx
  src/app/blog/_components/subscribe/subscribe.tsx
  src/app/japanese-text-fixer/_components/result/result.tsx
  src/app/japanese-text-fixer/_components/syntax-fixer/syntax-fixer.tsx
  src/app/japanese-text-fixer/_components/verified-syntax/verified-syntax.tsx
  src/app/radius-maker/_components/control-panel/control-panel.tsx
  src/components/popover/hooks.ts
  src/components/tabs/tabs.tsx
  src/components/toast/toast.tsx
  src/hooks/clipboard/index.ts
  vitest.config.ts
Due: format, lint, ls-lint

pnpm-lock.yamlの更新
  pnpm-lock.yaml
Due: none

helpersでだけ利用しているパッケージはhelpersに置く
  package.json
  packages/helpers/package.json
  packages/helpers/src/mdx/toc-tree.ts
  pnpm-lock.yaml
Due: format

testを分割する
  package.json
  packages/helpers/package.json
  packages/helpers/vitest.config.ts
  packages/hooks/package.json
  packages/hooks/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: format

zodをv4に
  package.json
  pnpm-lock.yaml
Due: none

/v4を剥がす、localesは参照方法を変更
  src/app/_api/contact-to-me.ts
  src/app/api/blog/views/route.ts
  src/app/sql-table-builder/_utils/statement.ts
  src/libs/zod.ts
  src/services/subscriptions/subscribe.ts
  src/services/subscriptions/verify.ts
Due: format, lint, ls-lint

turborepoの導入
  .gitignore
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

余計なid削除
  .storybook/preview.tsx
Due: format

tsgoも無視させる
  renovate.json5
Due: none

wdを指定
  .github/workflows/chromatic.yml
Due: none

ogはimageのチェックをしない
  core/src/app/qr-generator/opengraph-image.tsx
  eslint.config.js
Due: format

@k8oをcoreに移動
  core/package.json
  package.json
  pnpm-lock.yaml
Due: none

turbo buildに置き換え
  .github/workflows/deploy-preview.yml
  turbo.json
Due: none

add pnpm
  .github/workflows/deploy-preview.yml
Due: none

MICROCMSのAPIエンドポイントとキーの設定チェックを追加
  core/src/app/news/[id]/page.tsx
Due: format

最初のコメントに固定する
  .github/workflows/claude-code-review.yml
Due: none

direct_promptの改善
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  format: any of: *.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}, but not: **/mockServiceWorker.js
  lint: any of: src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}
  ls-lint: any of: src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}
