Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, ls-lint

lefthook.yml:

pre-commit:
  paralell: true
  commands:
    format:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}'
      run: NODE_OPTIONS='--experimental-strip-types' pnpm prettier --write {staged_files}
      stage_fixed: true
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: 'src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run lint:fix --file {staged_files}
      stage_fixed: true
    
    ls-lint:
      glob: 'src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run ls-lint
      stage_fixed: true

pre-push:
  paralell: true
  commands:
    format:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}'
      run: NODE_OPTIONS='--experimental-strip-types' pnpm prettier --check {staged_files}
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: 'src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run lint --file {staged_files}

    test:
      glob: 'src/**/*.test.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run test run {staged_files}

mdの設定を作る
  src/app/contrast-checker/_components/description/description.tsx
  src/app/contrast-checker/_components/result-table/result-table.tsx
  src/app/design-system/_components/radius/radius.tsx
  src/app/design-system/_components/typography/typography.tsx
  src/app/design-system/page.tsx
  src/app/talks/_components/talk-card/talk-card.tsx
  src/components/baseline-status/baseline-status.tsx
  src/components/breadcrumb/breadcrumb.tsx
  src/components/heading/heading.tsx
  src/components/link-card/link-card.tsx
  src/components/tabs/tabs.tsx
Due: format, lint, ls-lint

文言の調整
  src/app/japanese-text-fixer/_components/syntax-fixer/syntax-fixer.tsx
Due: format, lint, ls-lint

画面が足りない場合はテキストを表示しないように
  src/app/japanese-text-fixer/_components/result/result.tsx
Due: format, lint, ls-lint

contrastの調整
  src/components/form/checkbox/checkbox.tsx
Due: format, lint, ls-lint

migrationファイルの作成
  migrations/0041_sleepy_catseye.sql
  migrations/meta/0041_snapshot.json
  migrations/meta/_journal.json
Due: none

suspense-listのブログを執筆
  src/app/blog/(articles)/suspense-list/examples/example1/data.ts
  src/app/blog/(articles)/suspense-list/examples/example1/example1.tsx
  src/app/blog/(articles)/suspense-list/examples/example1/index.ts
  src/app/blog/(articles)/suspense-list/layout.tsx
  src/app/blog/(articles)/suspense-list/opengraph-image.tsx
  src/app/blog/(articles)/suspense-list/page.mdx
Due: format, lint, ls-lint

promiseを上から流す
  src/app/blog/(articles)/suspense-list/examples/example1/example1.tsx
Due: format, lint, ls-lint

いらないファイルの整理
  src/app/blog/(articles)/suspense-list/example1.tsx
  src/app/blog/(articles)/suspense-list/examples/example1/data.ts
  src/app/blog/(articles)/suspense-list/examples/example1/index.ts
  src/app/blog/(articles)/suspense-list/page.mdx
Due: format, lint, ls-lint

_componentsを作る
  src/app/blog/(articles)/suspense-list/_components/example1.tsx
  src/app/blog/(articles)/suspense-list/page.mdx
Due: format, lint, ls-lint

forwardsの挙動をわかりやすいように
  src/app/blog/(articles)/suspense-list/_components/example1.tsx
Due: format, lint, ls-lint

fallbackの有無を決めれるように
  src/app/blog/(articles)/suspense-list/_components/example1.tsx
Due: format, lint, ls-lint

chore: update prettier to version 3.6.0 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

configのts化をやめてformatの高速化
  lefthook.yml
  package.json
  prettier.config.js
Due: format

budouxを除外を除外
  renovate.json5
Due: none

jsパーサーデフォルトで読み込む
  src/app/blog/(articles)/async-clipboard/opengraph-image.tsx
  src/app/blog/(articles)/atomics-pause/opengraph-image.tsx
  src/app/blog/(articles)/color-certification-uc/opengraph-image.tsx
  src/app/blog/(articles)/color-contrast/opengraph-image.tsx
  src/app/blog/(articles)/color-perception/opengraph-image.tsx
  src/app/blog/(articles)/contenteditable-plaintextonly/opengraph-image.tsx
  src/app/blog/(articles)/float16array/opengraph-image.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/opengraph-image.tsx
  src/app/blog/(articles)/intl-duration-format/opengraph-image.tsx
  src/app/blog/(articles)/iterator-methods/opengraph-image.tsx
  src/app/blog/(articles)/json-modules/opengraph-image.tsx
  src/app/blog/(articles)/popover/opengraph-image.tsx
  src/app/blog/(articles)/print-color-adjust/opengraph-image.tsx
  src/app/blog/(articles)/promise-try/opengraph-image.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/opengraph-image.tsx
  src/app/blog/(articles)/regexp-escape/opengraph-image.tsx
  src/app/blog/(articles)/requestclose/opengraph-image.tsx
  src/app/blog/(articles)/screen-wake-lock/opengraph-image.tsx
  src/app/blog/(articles)/single-color-gradients/opengraph-image.tsx
  src/app/blog/(articles)/suspense-list/opengraph-image.tsx
  src/app/blog/(articles)/tanstack-router-introduction/opengraph-image.tsx
  src/app/qr-generator/opengraph-image.tsx
Due: format, lint, ls-lint

アニメーションを抑える
  src/app/tags/_components/tag-card/tag-card.tsx
  src/components/card/interactive-card.tsx
Due: format, lint, ls-lint

fmt
  src/app/qr-generator/opengraph-image.tsx
Due: format, lint, ls-lint

packageRulesにstorybook関連のパッケージを除外する条件を追加
  renovate.json5
Due: none

codeをコンポーネント化
  src/components/code/code.stories.tsx
  src/components/code/code.tsx
  src/components/code/index.ts
  src/helpers/color/extract-color.ts
  src/helpers/color/find-all-colors.ts
  src/helpers/index.ts
  src/mdx-components.tsx
Due: format, lint, ls-lint

CSS変数をstyleに渡せるように
  src/react.d.ts
Due: format

abs-signのブログ記述
  migrations/0042_wide_namor.sql
  migrations/meta/0042_snapshot.json
  migrations/meta/_journal.json
  src/app/blog/(articles)/abs-sign/_components/example1.tsx
  src/app/blog/(articles)/abs-sign/layout.tsx
  src/app/blog/(articles)/abs-sign/opengraph-image.tsx
  src/app/blog/(articles)/abs-sign/page.mdx
Due: format, lint, ls-lint

lint
  src/mdx-components.tsx
  src/react.d.ts
Due: format

upgrade claude.md
  CLAUDE.md
Due: format

テスト戦略の詳細化とガイドライン更新
  CLAUDE.md
Due: format

TailwindCSSカスタムデザインシステムのガイドライン追加
  CLAUDE.md
Due: format

Renovateのminor/patchグループからmonorepoパッケージを除外
  renovate.json5
Due: none

ogのコンポーネント化
  src/app/blog/(articles)/abs-sign/opengraph-image.tsx
  src/app/blog/(articles)/async-clipboard/opengraph-image.tsx
  src/app/blog/(articles)/atomics-pause/opengraph-image.tsx
  src/app/blog/(articles)/color-certification-uc/opengraph-image.tsx
  src/app/blog/(articles)/color-contrast/opengraph-image.tsx
  src/app/blog/(articles)/color-perception/opengraph-image.tsx
  src/app/blog/(articles)/contenteditable-plaintextonly/opengraph-image.tsx
  src/app/blog/(articles)/float16array/opengraph-image.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/opengraph-image.tsx
  src/app/blog/(articles)/intl-duration-format/opengraph-image.tsx
  src/app/blog/(articles)/iterator-methods/opengraph-image.tsx
  src/app/blog/(articles)/json-modules/opengraph-image.tsx
  src/app/blog/(articles)/popover/opengraph-image.tsx
  src/app/blog/(articles)/print-color-adjust/opengraph-image.tsx
  src/app/blog/(articles)/promise-try/opengraph-image.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/opengraph-image.tsx
  src/app/blog/(articles)/regexp-escape/opengraph-image.tsx
  src/app/blog/(articles)/requestclose/opengraph-image.tsx
  src/app/blog/(articles)/screen-wake-lock/opengraph-image.tsx
  src/app/blog/(articles)/single-color-gradients/opengraph-image.tsx
  src/app/blog/(articles)/suspense-list/opengraph-image.tsx
  src/app/blog/(articles)/tanstack-router-introduction/opengraph-image.tsx
  src/app/blog/_components/og-image/index.ts
  src/app/blog/_components/og-image/og-image.tsx
Due: format, lint, ls-lint

descriptionとtagsの削除
  src/app/blog/(articles)/abs-sign/opengraph-image.tsx
  src/app/blog/(articles)/async-clipboard/opengraph-image.tsx
  src/app/blog/(articles)/atomics-pause/opengraph-image.tsx
  src/app/blog/(articles)/color-certification-uc/opengraph-image.tsx
  src/app/blog/(articles)/color-contrast/opengraph-image.tsx
  src/app/blog/(articles)/color-perception/opengraph-image.tsx
  src/app/blog/(articles)/contenteditable-plaintextonly/opengraph-image.tsx
  src/app/blog/(articles)/float16array/opengraph-image.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/opengraph-image.tsx
  src/app/blog/(articles)/intl-duration-format/opengraph-image.tsx
  src/app/blog/(articles)/iterator-methods/opengraph-image.tsx
  src/app/blog/(articles)/json-modules/opengraph-image.tsx
  src/app/blog/(articles)/popover/opengraph-image.tsx
  src/app/blog/(articles)/print-color-adjust/opengraph-image.tsx
  src/app/blog/(articles)/promise-try/opengraph-image.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/opengraph-image.tsx
  src/app/blog/(articles)/regexp-escape/opengraph-image.tsx
  src/app/blog/(articles)/requestclose/opengraph-image.tsx
  src/app/blog/(articles)/screen-wake-lock/opengraph-image.tsx
  src/app/blog/(articles)/single-color-gradients/opengraph-image.tsx
  src/app/blog/(articles)/suspense-list/opengraph-image.tsx
  src/app/blog/(articles)/tanstack-router-introduction/opengraph-image.tsx
Due: format, lint, ls-lint

Fix @react-email/components Vitest browser test failures
  .storybook/mocks/react-email-components.ts
  .storybook/mocks/react-email-render.ts
  vitest.config.ts
Due: format

雛形を作成
  migrations/0043_lean_nitro.sql
  migrations/meta/0043_snapshot.json
  migrations/meta/_journal.json
  src/app/blog/(articles)/highlight/layout.tsx
  src/app/blog/(articles)/highlight/opengraph-image.tsx
  src/app/blog/(articles)/highlight/page.mdx
  src/app/blog/(articles)/spelling-grammar-error/layout.tsx
  src/app/blog/(articles)/spelling-grammar-error/opengraph-image.tsx
  src/app/blog/(articles)/spelling-grammar-error/page.mdx
Due: format, lint, ls-lint

highlightの記事を作成
  src/app/blog/(articles)/highlight/_components/example1.tsx
  src/app/blog/(articles)/highlight/_components/example2.tsx
  src/app/blog/(articles)/highlight/_components/example3.tsx
  src/app/blog/(articles)/highlight/opengraph-image.tsx
  src/app/blog/(articles)/highlight/page.mdx
Due: format, lint, ls-lint

spelling-grammar-errorの記事を作成
  src/app/blog/(articles)/spelling-grammar-error/_components/example1.tsx
  src/app/blog/(articles)/spelling-grammar-error/opengraph-image.tsx
  src/app/blog/(articles)/spelling-grammar-error/page.mdx
Due: format, lint, ls-lint

日付を更新
  src/app/blog/(articles)/highlight/page.mdx
  src/app/blog/(articles)/spelling-grammar-error/page.mdx
Due: format

文章の改善
  src/app/blog/(articles)/highlight/page.mdx
Due: format

idでもソートする
  src/services/blogs/blogs.ts
Due: format, lint, ls-lint

playground自体の移動
  src/app/_components/playgrounds/abs-sign/css-math-functions-demo.stories.tsx
  src/app/_components/playgrounds/async-clipboard/clipboard-image-demo.stories.tsx
  src/app/_components/playgrounds/async-clipboard/clipboard-text-demo.stories.tsx
  src/app/_components/playgrounds/highlight/highlight-basic-demo.stories.tsx
  src/app/_components/playgrounds/highlight/highlight-priority-demo.stories.tsx
  src/app/_components/playgrounds/highlight/highlight-spelling-demo.stories.tsx
  src/app/_components/playgrounds/index.ts
  src/app/_components/playgrounds/playground.stories.tsx
  src/app/_components/playgrounds/playground.tsx
  src/app/_components/playgrounds/popover/popover-api-demo.stories.tsx
  src/app/_components/playgrounds/popover/tooltip-dropdown-demo.stories.tsx
  src/app/_components/playgrounds/print-color-adjust/print-color-adjust-demo.stories.tsx
  src/app/_components/playgrounds/requestclose/dialog-requestclose-demo.stories.tsx
  src/app/_components/playgrounds/screen-wake-lock/wake-lock-demo.stories.tsx
  src/app/_components/playgrounds/spelling-grammar-error/spelling-grammar-error-demo.stories.tsx
  src/app/_components/playgrounds/suspense-list/suspense-list-demo.stories.tsx
  src/app/blog/(articles)/abs-sign/page.mdx
  src/app/blog/(articles)/async-clipboard/page.mdx
  src/app/blog/(articles)/highlight/page.mdx
  src/app/blog/(articles)/popover/page.mdx
  src/app/blog/(articles)/print-color-adjust/page.mdx
  src/app/blog/(articles)/requestclose/page.mdx
  src/app/blog/(articles)/screen-wake-lock/page.mdx
  src/app/blog/(articles)/spelling-grammar-error/page.mdx
  src/app/blog/(articles)/suspense-list/page.mdx
  src/app/blog/_components/playground/index.ts
Due: format, lint, ls-lint

SuspenseListコンポーネントを追加し、reactライブラリからのインポートを整理
  src/app/_components/playgrounds/suspense-list/suspense-list-demo.tsx
  src/libs/react.ts
  src/mocks/libs/react.mock.ts
Due: format, lint, ls-lint

変更もれ
  src/app/blog/(articles)/contenteditable-plaintextonly/page.mdx
Due: format

typo
  src/app/blog/(articles)/contenteditable-plaintextonly/page.mdx
Due: format
