Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: '*.{js,ts,d.ts,tsx,md,mdx}'
      run: pnpm prettier --write --experimental-cli {staged_files}
      stage_fixed: true
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: '**/src/**/*.{js,ts,tsx}'
      exclude: 'baseline-status.d.ts'
      run: pnpm eslint --fix --max-warnings 0 {staged_files}
      stage_fixed: true

    ls-lint:
      run: pnpm run ls-lint
      stage_fixed: true

pre-push:
  commands:
    format:
      glob: '*.{js,ts,d.ts,tsx,md,mdx}'
      run: pnpm prettier --check --experimental-cli {staged_files}
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: '**/src/**/*.{js,ts,tsx}'
      exclude: 'baseline-status.d.ts'
      run: pnpm eslint --fix --max-warnings 0 {staged_files}

    test:
      glob: '**/src/**/*.test.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run test {staged_files}

Storybookを更新
  core/src/app/_components/comming-soon/comming-soon.stories.tsx
  core/src/app/design-system/_components/components/components.tsx
Due: format, lint

誤魔化し方を変える
  packages/components/src/baseline-status/baseline-status.d.ts
  packages/components/src/baseline-status/baseline-status.tsx
Due: format, lint

previewに基本スタイルを追加
  packages/components/.storybook/preview.tsx
Due: format

themeを切り替えられるように
  packages/components/.storybook/preview.tsx
Due: format

調整
  packages/components/src/code/code.stories.tsx
  packages/components/src/dialog/dialog.stories.tsx
  packages/components/src/modal/modal.stories.tsx
  packages/components/src/styles.css
Due: format, lint

fix: disable flaky color-contrast a11y rule in Storybook
  core/.storybook/preview.tsx
  core/src/app/design-system/_components/color/color.stories.tsx
  packages/components/.storybook/preview.tsx
Due: format, lint

fix: improve pnpm workspace configuration
  pnpm-workspace.yaml
Due: none

docs: update CLAUDE.md and README for accurate monorepo commands
  CLAUDE.md
  README.md
Due: format

anchor
  core/src/app/blog/_components/subscribe/subscribe-card.tsx/rss-panel.tsx
  core/src/app/playgrounds/page.tsx
  core/src/app/quizzes/_components/quiz-breadcrumb/quiz-breadcrumb.tsx
  core/src/mdx-components.tsx
  packages/components/src/anchor/anchor.tsx
Due: format, lint

icon-link
  core/src/app/_components/global-layout/llm-link/llm-link.tsx
  packages/components/src/icon-link/icon-link.tsx
Due: format, lint

link-button
  core/src/app/_components/global-layout/news-link/news-link.tsx
  core/src/app/_components/global-layout/tags-link/tags-link.tsx
  core/src/app/not-found.tsx
  core/src/app/quizzes/_components/complete/complete.tsx
  core/src/app/quizzes/_components/start/start.tsx
  core/src/app/talks/_components/talk-card/talk-card.tsx
  packages/components/src/link-button/link-button.tsx
Due: format, lint

text-tag
  core/src/app/blog/_components/blog-layout/blog-layout.tsx
  core/src/app/talks/_components/talk-card/talk-card.tsx
  packages/components/src/text-tag/text-tag.tsx
Due: format, lint

breadcrumb
  core/src/app/quizzes/_components/quiz-breadcrumb/quiz-breadcrumb.tsx
  packages/components/src/breadcrumb/breadcrumb.tsx
Due: format, lint

link -> clickable
  packages/components/src/text-tag/text-tag.stories.tsx
Due: format, lint

tabs
  core/src/app/design-system/page.tsx
  packages/components/src/tabs/tabs.stories.tsx
  packages/components/src/tabs/tabs.tsx
Due: format, lint

link-cardをcoreに移動
  core/package.json
  core/src/app/_components/link-card/image.tsx
  core/src/app/_components/link-card/index.ts
  core/src/app/_components/link-card/link-card.stories.tsx
  core/src/app/_components/link-card/link-card.tsx
  core/src/app/_components/link-card/metadata.ts
  core/src/app/blog/(articles)/async-clipboard/page.mdx
  core/src/app/blog/(articles)/color-certification-uc/page.mdx
  core/src/app/blog/(articles)/contenteditable-plaintextonly/page.mdx
  core/src/app/blog/(articles)/for-the-first-time-in-forever/page.mdx
  core/src/app/blog/(articles)/intl-duration-format/page.mdx
  core/src/app/blog/(articles)/iterator-methods/page.mdx
  core/src/app/blog/(articles)/popover/page.mdx
  core/src/app/blog/(articles)/promise-try/page.mdx
  core/src/app/blog/(articles)/react19-usereducer-ts-type-inference/page.mdx
  core/src/app/blog/(articles)/screen-wake-lock/page.mdx
  core/src/app/blog/(articles)/single-color-gradients/page.mdx
  core/src/app/blog/(articles)/suspense-list/page.mdx
  core/src/mocks/link-card/metadata.mock.ts
  packages/components/package.json
  packages/components/src/index.ts
Due: format, lint

nextを使わないように
  packages/components/.storybook/preview.tsx
Due: format

prを書き込めるように
  .github/workflows/claude.yml
Due: none

floating-uiをcomponentsに移動
  package.json
  packages/components/package.json
  pnpm-lock.yaml
Due: none

@types/mdastを削除
  packages/components/package.json
  pnpm-lock.yaml
Due: none

instancesに移動
  core/vitest.browser.config.ts
  packages/components/vitest.config.ts
Due: format

常に静かにさせる
  core/.storybook/preview.tsx
Due: format

ratelimitをモック
  core/package.json
  core/src/app/_api/contact-to-me.ts
  core/src/mocks/helpers/ratelimit.mock.ts
Due: format, lint

link-cardの位置調整
  core/src/app/_components/link-card/link-card.stories.tsx
Due: format, lint

blogsもmockを使うように
  core/src/mocks/helpers/ratelimit.mock.ts
  core/src/services/blogs/action.ts
Due: format, lint

openを正しい挙動に
  core/src/app/_components/contact-to-me/contact-to-me.stories.tsx
Due: format, lint

nodeのバージョンアップ
  core/package.json
  package.json
  pnpm-lock.yaml
Due: none

typesオプションを消す
  lefthook.yml
Due: none

chromaticのアドオンを追加する
  packages/components/.storybook/main.ts
  packages/components/chromatic.config.json
  packages/components/package.json
  pnpm-lock.yaml
Due: format

ci: update Claude Code review workflow permissions and instructions
  .github/workflows/claude-code-review.yml
Due: none

hover時の色を調整
  core/src/app/_components/color-filters/color-filters.tsx
Due: format, lint

tooltipのコンテンツをホバーしても表示を続けるように
  packages/ui/src/popover/hooks.ts
Due: format, lint

alertのroleとmessageの調整
  packages/ui/src/alert/alert.tsx
Due: format, lint

パンクズリストの見た目を調整
  packages/ui/src/breadcrumb/breadcrumb.tsx
Due: format, lint

gray containedの見た目を調整
  packages/ui/src/button/button.tsx
Due: format, lint

labelを必須に
  packages/ui/src/icon-button/icon-button.tsx
Due: format, lint

Storynameを調整
  packages/ui/src/code/code.stories.tsx
Due: format, lint
