Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, ls-lint

format:
  run: NODE_OPTIONS='--experimental-strip-types' pnpm prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm run lint:fix --file {staged_files}
  stage_fixed: true

ls-lint:
  run: pnpm run ls-lint
  stage_fixed: true

fmt
  src/app/blog/(articles)/requestclose/page.mdx
Due: format

Update page.mdx
  src/app/blog/(articles)/requestclose/page.mdx
Due: format

indexからの解放
  src/app/tags/[id]/page.tsx
  src/app/tags/page.tsx
  src/app/talks/page.tsx
  src/services/subscriptions/index.ts
  src/services/tags/index.test.ts
  src/services/tags/tag.test.ts
  src/services/tags/tag.ts
  src/services/tags/tags.test.ts
  src/services/tags/tags.ts
  src/services/talks/talks.test.ts
  src/services/talks/talks.ts
Due: format, lint, ls-lint

role button以外はaria-labelで名付ける
  src/components/icon-button/icon-button.tsx
Due: format, lint, ls-lint

buttonではなくradioなのでroleのすげ替え
  src/app/_components/feedback-card/feedback-card.tsx
Due: format, lint, ls-lint

mockServiceWorker.jsの更新
  .storybook/public/mockServiceWorker.js
Due: none

storybook-addon-mock-dateの再導入
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
Due: format

zodのv4に追従
  src/app/_services/contact-to-me.ts
  src/app/api/blog/views/route.ts
  src/app/sql-table-builder/_utils/statement.ts
  src/libs/zod.ts
  src/services/subscriptions/subscribe.ts
  src/services/subscriptions/verify.ts
Due: format, lint, ls-lint

altの修正
  src/app/blog/(articles)/requestclose/opengraph-image.tsx
  src/app/blog/(articles)/requestclose/twitter-image.tsx
Due: format, lint, ls-lint

migration fileの追加
  migrations/0038_pink_salo.sql
  migrations/meta/0038_snapshot.json
  migrations/meta/_journal.json
Due: none

fallbackを用意
  src/components/link-card/image.tsx
  src/components/link-card/link-card.tsx
Due: format, lint, ls-lint

tskaigiのブログを作成
  src/app/blog/(articles)/for-the-first-time-in-forever/_images/anyman.png
  src/app/blog/(articles)/for-the-first-time-in-forever/_images/eslint-typegen-works.png
  src/app/blog/(articles)/for-the-first-time-in-forever/layout.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/opengraph-image.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/page.mdx
  src/app/blog/(articles)/for-the-first-time-in-forever/twitter-image.tsx
Due: format, lint, ls-lint

fmt
  src/components/link-card/image.tsx
Due: format, lint, ls-lint

typo
  src/app/blog/(articles)/for-the-first-time-in-forever/page.mdx
Due: format

blog cardのデータをPageで取得する
  src/app/blog/_components/blog-card/blog-card.stories.tsx
  src/app/blog/_components/blog-card/blog-card.tsx
  src/app/blog/page.tsx
  vitest.config.ts
Due: format, lint, ls-lint

client directiveを削除
  src/app/blog/_components/external-blog/external-blog.tsx
Due: format, lint, ls-lint

cacheされたアイテムを使うように
  src/app/blog/feed/route.ts
  src/app/llms.txt/route.ts
  src/app/sitemap.ts
Due: format, lint, ls-lint

変更ミスを修正
  src/app/blog/(articles)/atomics-pause/opengraph-image.tsx
  src/app/blog/(articles)/color-certification-uc/opengraph-image.tsx
  src/app/blog/(articles)/color-contrast/opengraph-image.tsx
  src/app/blog/(articles)/color-perception/opengraph-image.tsx
  src/app/blog/(articles)/color-perception/twitter-image.tsx
  src/app/blog/(articles)/contenteditable-plaintextonly/opengraph-image.tsx
  src/app/blog/(articles)/float16array/opengraph-image.tsx
  src/app/blog/(articles)/for-the-first-time-in-forever/opengraph-image.tsx
  src/app/blog/(articles)/intl-duration-format/opengraph-image.tsx
  src/app/blog/(articles)/iterator-methods/opengraph-image.tsx
  src/app/blog/(articles)/json-modules/opengraph-image.tsx
  src/app/blog/(articles)/popover/opengraph-image.tsx
  src/app/blog/(articles)/promise-try/opengraph-image.tsx
  src/app/blog/(articles)/react19-usereducer-ts-type-inference/opengraph-image.tsx
  src/app/blog/(articles)/regexp-escape/opengraph-image.tsx
  src/app/blog/(articles)/requestclose/opengraph-image.tsx
  src/app/blog/(articles)/screen-wake-lock/opengraph-image.tsx
  src/app/blog/(articles)/single-color-gradients/opengraph-image.tsx
  src/app/blog/(articles)/tanstack-router-introduction/opengraph-image.tsx
Due: format, lint, ls-lint

replace mockServiceWorker.js
  .storybook/public/mockServiceWorker.js
Due: none

vitest projectで実行する
  vitest.config.ts
  vitest.workspace.ts
Due: format

@storybook/addon-linksの削除
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: format

main.tsの整理
  .storybook/main.ts
Due: format

a11yのテストを追加
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
Due: format

k35o53kからk8omeに
  src/app/page.tsx
Due: format, lint, ls-lint

Add CLAUDE.md documentation for repository guidance
  CLAUDE.md
Due: format

Add .gitignore entry for Claude Code local settings and update documentation
  .gitignore
Due: none

Implement phase 1 improvements: testing and security enhancements
  src/app/_components/color-filters/color-filters.tsx
  src/app/admin/login/page.tsx
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/status/route.ts
  src/app/contrast-checker/_components/color-pallet/color-pallet.tsx
  src/app/radius-maker/_components/control-panel/control-panel.tsx
  src/components/button/button.tsx
  src/components/dropdown-menu/dropdown-menu.tsx
  src/components/error-boundary/error-boundary.stories.tsx
  src/components/error-boundary/error-boundary.test.tsx
  src/components/error-boundary/error-boundary.tsx
  src/components/error-boundary/index.ts
  src/components/form/select/select.tsx
  src/components/form/text-field/text-field.tsx
  src/components/form/textarea/textarea.tsx
  src/components/icon-button/icon-button.tsx
  src/components/link-button/link-button.tsx
  src/components/list-box/list-box.tsx
  src/components/tabs/tabs.tsx
  src/database/schema/index.ts
  src/database/schema/quiz-answers.ts
  src/database/schema/quiz-questions.ts
  src/database/schema/quizzes.ts
  src/middleware.ts
  src/services/blogs/action.test.ts
  src/services/blogs/action.ts
  src/services/blogs/blog.test.ts
  src/services/blogs/blog.ts
  src/services/blogs/blogs.test.ts
  src/services/blogs/path.test.ts
  src/services/blogs/view.test.ts
  src/services/email/index.test.ts
  src/services/feedbacks/index.test.ts
  src/utils/auth/password.ts
  src/utils/auth/session.ts
  src/utils/errors/custom-errors.test.ts
  src/utils/errors/custom-errors.ts
  src/utils/ratelimit/index.ts
Due: format, lint, ls-lint

Remove JWT authentication system and fix ESLint errors
  src/app/admin/login/page.tsx
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/status/route.ts
  src/components/error-boundary/error-boundary.stories.tsx
  src/components/error-boundary/error-boundary.tsx
  src/middleware.ts
  src/utils/auth/password.ts
  src/utils/auth/session.ts
  src/utils/errors/custom-errors.ts
Due: format, lint, ls-lint

Fix ESLint errors and test failures
  src/components/error-boundary/error-boundary.test.tsx
  src/services/blogs/action.test.ts
  src/services/blogs/blog.test.ts
  src/services/blogs/blogs.test.ts
Due: format, lint, ls-lint

Fix TypeScript type errors
  src/components/error-boundary/error-boundary.stories.tsx
  src/components/error-boundary/error-boundary.test.tsx
  src/components/error-boundary/error-boundary.tsx
  src/utils/errors/custom-errors.ts
Due: format, lint, ls-lint

Update action.test.ts to match current implementation
  src/components/error-boundary/error-boundary.stories.tsx
  src/components/error-boundary/error-boundary.test.tsx
  src/components/error-boundary/error-boundary.tsx
  src/components/error-boundary/index.ts
  src/services/blogs/action.test.ts
  src/services/blogs/action.ts
  src/services/blogs/blog.test.ts
  src/services/blogs/blog.ts
  src/utils/errors/custom-errors.test.ts
  src/utils/errors/custom-errors.ts
  src/utils/ratelimit/index.ts
Due: format, lint, ls-lint

色の調整
  src/components/form/number-field/number-field.tsx
Due: format, lint, ls-lint

print-color-adjustを記述
  migrations/0039_massive_ozymandias.sql
  migrations/meta/0039_snapshot.json
  migrations/meta/_journal.json
  src/app/blog/(articles)/print-color-adjust/_components/example1.tsx
  src/app/blog/(articles)/print-color-adjust/layout.tsx
  src/app/blog/(articles)/print-color-adjust/opengraph-image.tsx
  src/app/blog/(articles)/print-color-adjust/page.mdx
  src/app/blog/(articles)/print-color-adjust/twitter-image.tsx
Due: format, lint, ls-lint

createdAtとupdatedAtの更新
  src/app/blog/(articles)/print-color-adjust/page.mdx
Due: format

heightもfit可能に
  src/components/card/card.tsx
  src/components/card/interactive-card.tsx
  src/components/card/type.ts
Due: format, lint, ls-lint

icon追加
  src/components/icons/icons.stories.tsx
  src/components/icons/lucide.tsx
Due: format, lint, ls-lint

縦書き横書きを切り替えるアイコンボタン作成
  src/app/blog/_components/toggle-writing-mode/index.ts
  src/app/blog/_components/toggle-writing-mode/toggle-writing-mode.stories.tsx
  src/app/blog/_components/toggle-writing-mode/toggle-writing-mode.tsx
Due: format, lint, ls-lint

Path conditions:
  format: any of: *.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}, but not: **/mockServiceWorker.js
  lint: any of: src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}
  ls-lint: any of: src/**/*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}
