Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  paralell: true
  commands:
    format:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}'
      run: node --experimental-strip-types node_modules/prettier/bin/prettier.cjs --write {staged_files}
      stage_fixed: true
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run lint:fix --file {staged_files}
      stage_fixed: true
      exclude:
        - '**/mockServiceWorker.js'

pre-push:
  paralell: true
  commands:
    format:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx,md,mdx}'
      run: node --experimental-strip-types node_modules/prettier/bin/prettier.cjs --check {staged_files}
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: '*.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run lint --file {staged_files}
      exclude:
        - '**/mockServiceWorker.js'
    test:
      glob: '*.test.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run test run {staged_files}
      exclude:
        - '**/mockServiceWorker.js'

送信後、送信中の状態を追加
  src/app/_components/feedback-card/feedback-card.tsx
Due: format, lint

sitemapを追加
  src/app/sitemap.ts
Due: format, lint

変更が多いのは本体
  src/app/sitemap.ts
Due: format, lint

resendの導入
  package.json
  pnpm-lock.yaml
Due: none

送信前のコメントを送信するrouteの作成
  src/app/api/crons/weekly-notification/route.ts
  src/emails/weekly-notification.tsx
Due: format, lint

毎週土曜日に実行させる
  vercel.json
Due: none

送信完了したものはupdateする
  src/app/api/crons/weekly-notification/route.ts
Due: format, lint

cron経由でしか実行できないように
  src/app/api/crons/weekly-notification/route.ts
Due: format, lint

slugがfeedの時は送信しない
  src/middleware.ts
Due: format, lint

名前の変更
  src/app/api/crons/weekly-notifications/route.ts
  vercel.json
Due: format, lint

判定ミス
  src/app/api/crons/weekly-notifications/route.ts
Due: format, lint

import順を修正
  vitest.workspace.ts
Due: format, lint

texttagにsizeを追加
  src/app/blog/_components/blog-card/blog-card.tsx
  src/components/text-tag/text-tag.stories.tsx
  src/components/text-tag/text-tag.tsx
Due: format, lint

tagのidも一緒にもつ
  src/app/blog/_components/blog-layout/blog-layout.stories.tsx
  src/app/blog/_components/blog-layout/tags/tags.tsx
  src/app/blog/_services/index.ts
  src/app/blog/async-clipboard/layout.tsx
  src/app/blog/atomics-pause/layout.tsx
  src/app/blog/color-certification-uc/layout.tsx
  src/app/blog/color-contrast/layout.tsx
  src/app/blog/color-perception/layout.tsx
  src/app/blog/contenteditable-plaintextonly/layout.tsx
  src/app/blog/float16array/layout.tsx
  src/app/blog/intl-duration-format/layout.tsx
  src/app/blog/popover/layout.tsx
  src/app/blog/promise-try/layout.tsx
  src/app/blog/screen-wake-lock/layout.tsx
  src/app/blog/tanstack-router-introduction/layout.tsx
Due: format, lint

関連するブログを載せる
  src/app/blog/_components/blog-layout/blog-layout.stories.tsx
  src/app/blog/_components/blog-layout/blog-layout.tsx
  src/app/blog/_components/blog-layout/recommend/index.ts
  src/app/blog/_components/blog-layout/recommend/recommend.stories.tsx
  src/app/blog/_components/blog-layout/recommend/recommend.tsx
  src/app/blog/_services/index.ts
  src/mocks/services/blog.mock.ts
Due: format, lint

sortとsliceを内側に
  src/app/blog/_services/index.ts
Due: format, lint

除外
  vitest.config.ts
Due: format, lint

0に対応
  src/app/blog/_components/blog-layout/recommend/recommend.tsx
Due: format, lint

mockServiceWorker.jsの更新
  .storybook/public/mockServiceWorker.js
Due: none

migrationファイルの作成
  migrations/0025_typical_xavin.sql
  migrations/meta/0025_snapshot.json
  migrations/meta/_journal.json
Due: none

ブログの追加
  src/app/blog/iterator-methods/layout.tsx
  src/app/blog/iterator-methods/opengraph-image.tsx
  src/app/blog/iterator-methods/page.mdx
  src/app/blog/iterator-methods/twitter-image.tsx
  src/app/blog/single-color-gradients/layout.tsx
  src/app/blog/single-color-gradients/opengraph-image.tsx
  src/app/blog/single-color-gradients/page.mdx
  src/app/blog/single-color-gradients/twitter-image.tsx
Due: format, lint

fix text
  src/app/blog/iterator-methods/page.mdx
  src/app/blog/single-color-gradients/page.mdx
Due: format

文章の更新
  src/app/blog/iterator-methods/page.mdx
Due: format

Update README.md
  README.md
Due: format

pr templateに指示を記述
  .github/pull_request_template.md
Due: format

typo
  .github/pull_request_template.md
Due: format

schemaファイルの持ち方の変更
  README.md
Due: format

複数形に修正
  README.md
Due: format

schema画像の更新
  src/database/README.md
Due: format

pageを作成
  src/app/page.tsx
  src/app/talks/layout.tsx
  src/app/talks/opengraph-image.tsx
  src/app/talks/page.tsx
  src/app/talks/twitter-image.tsx
Due: format, lint

talk-cardを用意しておく
  src/app/talks/_components/talk-card/index.ts
  src/app/talks/_components/talk-card/talk-card.stories.tsx
  src/app/talks/_components/talk-card/talk-card.tsx
  src/components/icons/icons.stories.tsx
  src/components/icons/lucide.tsx
Due: format, lint

既存タグの追加
  src/app/blog/_components/blog-card/blog-card.tsx
  src/app/blog/_components/blog-layout/recommend/recommend.tsx
  src/app/blog/_components/blog-layout/tags/tags.tsx
  src/mdx-components.tsx
Due: format, lint

talks
  src/app/talks/opengraph-image.tsx
Due: format, lint

MotionConfigを設定
  src/providers/app.tsx
Due: format, lint

toggle-themeのanimationをmotionで記述する
  src/app/_components/toggle-theme/toggle-theme.tsx
Due: format, lint

footerの作成
  src/app/_components/global-layout/global-layout.tsx
Due: format, lint

Rights
  src/app/_components/global-layout/global-layout.tsx
Due: format, lint

viewTransitionを有効にする
  next.config.ts
Due: format, lint

reducer motionの時はview-transitionを無効にする
  src/app/_styles/globals.css
Due: none

ブログにtransitionに追加
  src/app/blog/_components/blog-card/blog-card.tsx
  src/app/blog/_components/blog-layout/blog-layout.tsx
  src/app/blog/_components/blog-layout/tags/tags.tsx
Due: format, lint
