Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: '*.{js,ts,d.ts,tsx,md,mdx}'
      run: pnpm prettier --write --experimental-cli {staged_files}
      stage_fixed: true
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: '**/src/**/*.{js,ts,tsx}'
      exclude: 'baseline-status.d.ts'
      run: pnpm eslint --fix --max-warnings 0 {staged_files}
      stage_fixed: true

    ls-lint:
      run: pnpm run ls-lint
      stage_fixed: true

pre-push:
  commands:
    format:
      glob: '*.{js,ts,d.ts,tsx,md,mdx}'
      run: pnpm prettier --check --experimental-cli {staged_files}
      exclude:
        - '**/mockServiceWorker.js'
    lint:
      glob: '**/src/**/*.{js,ts,tsx}'
      exclude: 'baseline-status.d.ts'
      run: pnpm eslint --fix --max-warnings 0 {staged_files}

    test:
      glob: '**/src/**/*.test.{js,ts,cjs,d.cts,d.ts,jsx,tsx}'
      run: pnpm run test {staged_files}

tsgoを一時的にtscにする
  core/package.json
Due: none

storybook/testではなくplayのものを使うように
  core/src/app/_components/contact-to-me/contact-to-me.stories.tsx
  core/src/app/blog/_components/subscribe/subscribe.stories.tsx
  packages/arte-odyssey/src/dialog/dialog.stories.tsx
  packages/arte-odyssey/src/dropdown-menu/dropdown-menu.stories.tsx
  packages/arte-odyssey/src/form/number-field/number-field.stories.tsx
  packages/arte-odyssey/src/list-box/list-box.stories.tsx
  packages/arte-odyssey/src/popover/popover.stories.tsx
  packages/arte-odyssey/src/tabs/tabs.stories.tsx
  packages/arte-odyssey/src/tooltip/tooltip.stories.tsx
Due: format, lint

biomeへの移行
  .vscode/extentions.json
  .vscode/settings.json
  biome.json
  core/biome.json
  core/package.json
  eslint.config.js
  lefthook.yml
  package.json
  packages/arte-odyssey/biome.json
  packages/arte-odyssey/package.json
  packages/helpers/biome.json
  packages/helpers/package.json
  packages/hooks/biome.json
  packages/hooks/package.json
  pnpm-lock.yaml
  prettier.config.js
  tsconfig.json
  turbo.json
Due: format

ci等も更新
  .claude/settings.json
  .github/workflows/ci.yml
Due: none

ドキュメントの更新
  CLAUDE.md
  README.md
Due: format

lefthookのcommandsを復活
  lefthook.yml
Due: none

baselintのJSXがJsxになっていたので修正
  packages/arte-odyssey/src/baseline-status/baseline-status.tsx
Due: format, lint

interfaceに
  core/src/react.d.ts
Due: format

add menu role
  packages/arte-odyssey/src/popover/popover.stories.tsx
Due: format, lint

nodeを22に
  package.json
  packages/arte-odyssey/package.json
  pnpm-lock.yaml
Due: none

declare dev engines
  package.json
  pnpm-lock.yaml
Due: none

devEnginesの更新
  package.json
  pnpm-lock.yaml
Due: none

link-cardをsb.mockでモックするように
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/_components/link-card/link-card.stories.tsx
  core/src/app/_components/link-card/link-card.tsx
  core/src/mocks/link-card/metadata.mock.ts
Due: format, lint

reactの一部をsb.mockでモックするように
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/_components/playgrounds/suspense-list/suspense-list-demo.tsx
  core/src/app/blog/_components/blog-card/blog-card.tsx
  core/src/app/blog/_components/blog-layout/blog-layout.tsx
  core/src/libs/__mocks__/react.ts
Due: format, lint

dbをmockする
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/_api/contact-to-me.ts
  core/src/app/api/crons/weekly-notifications/route.ts
  core/src/database/__mocks__/db.ts
  core/src/services/blogs/action.test.ts
  core/src/services/blogs/action.ts
  core/src/services/blogs/blog.test.ts
  core/src/services/blogs/blog.ts
  core/src/services/blogs/blogs.test.ts
  core/src/services/blogs/blogs.ts
  core/src/services/blogs/view.test.ts
  core/src/services/blogs/view.ts
  core/src/services/quizzes/__test__/quiz-type.test.ts
  core/src/services/quizzes/__test__/quiz.test.ts
  core/src/services/quizzes/quiz-type.ts
  core/src/services/quizzes/quiz.ts
  core/src/services/subscriptions/__test__/subscribe.test.ts
  core/src/services/subscriptions/__test__/verify.test.ts
  core/src/services/subscriptions/subscribe.ts
  core/src/services/subscriptions/verify.ts
  core/src/services/tags/tag.test.ts
  core/src/services/tags/tag.ts
  core/src/services/tags/tags.test.ts
  core/src/services/tags/tags.ts
  core/src/services/talks/talks.test.ts
  core/src/services/talks/talks.ts
Due: format, lint

ratelimitをsb.mockする
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/_api/contact-to-me.ts
  core/src/mocks/helpers/ratelimit.mock.ts
  core/src/services/blogs/action.ts
  packages/helpers/src/ratelimit/index.ts
Due: format, lint

next-serverをsb.mockする
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/blog/_components/subscribe/subscribe-card.tsx/action.ts
  core/src/libs/__mocks__/next-server.ts
  core/src/libs/next-server.ts
Due: format, lint

add ratelimit mock
  __mocks__/@k8o/helpers/ratelimit.ts
Due: format

fmt
  core/src/services/blogs/action.ts
  pnpm-lock.yaml
Due: format, lint

chromaticのciを整理
  .github/workflows/chromatic-core.yml
  .github/workflows/chromatic.yml
Due: none

testを削除
  core/src/services/feedbacks/index.test.ts
Due: format, lint

ブログの初期化
  core/migrations/0045_cloudy_caretaker.sql
  core/migrations/meta/0045_snapshot.json
  core/migrations/meta/_journal.json
  core/src/app/blog/(articles)/npm-trusted-publishing-for-npm-packages/layout.tsx
  core/src/app/blog/(articles)/npm-trusted-publishing-for-npm-packages/opengraph-image.tsx
  core/src/app/blog/(articles)/npm-trusted-publishing-for-npm-packages/page.mdx
Due: format, lint

ブログの記述
  core/src/app/blog/(articles)/npm-trusted-publishing-for-npm-packages/_images/init-trusted-publisher.png
  core/src/app/blog/(articles)/npm-trusted-publishing-for-npm-packages/_images/set-trusted-publisher.png
  core/src/app/blog/(articles)/npm-trusted-publishing-for-npm-packages/opengraph-image.tsx
  core/src/app/blog/(articles)/npm-trusted-publishing-for-npm-packages/page.mdx
Due: format, lint

fix(linter): update complexity and correctness rules in biome.json
  biome.json
Due: none

arte-odysseyのバージョンアップ
  core/package.json
  pnpm-lock.yaml
Due: none

pnpm-lockを更新
  pnpm-lock.yaml
Due: none

パッケージの整理
  core/package.json
  package.json
  pnpm-lock.yaml
Due: none

arte-odysseyのバージョンアップ
  core/package.json
  core/src/app/japanese-text-fixer/_components/syntax-fixer/syntax-fixer.tsx
  core/src/app/japanese-text-fixer/_components/verified-syntax/verified-syntax.tsx
  core/src/app/sql-table-builder/_components/create-columns/create-columns-by-form.tsx
  core/src/app/sql-table-builder/_components/create-restrictions/create-restrictions.tsx
  pnpm-lock.yaml
Due: format, lint

nextjsのバージョンアップ
  core/package.json
  pnpm-lock.yaml
Due: none

next.d.tsを更新
  core/src/next.d.ts
Due: format

arte-odysseyのバージョンアップと、不必要なhrefの記述を削除
  core/package.json
  core/src/app/_components/global-layout/llm-link/llm-link.tsx
  core/src/app/_components/global-layout/news-link/news-link.tsx
  core/src/app/_components/global-layout/tags-link/tags-link.tsx
  core/src/app/not-found.tsx
  core/src/app/playgrounds/page.tsx
  core/src/app/quizzes/_components/complete/complete.tsx
  core/src/app/quizzes/_components/quiz-breadcrumb/quiz-breadcrumb.tsx
  core/src/app/quizzes/_components/start/start.tsx
  core/src/app/talks/_components/talk-card/talk-card.tsx
  core/src/mdx-components.tsx
  pnpm-lock.yaml
Due: format, lint

blogを追加
  core/migrations/0046_loving_steve_rogers.sql
  core/migrations/meta/0046_snapshot.json
  core/migrations/meta/_journal.json
  core/src/app/_components/playgrounds/composed-ranges/get-composed-ranges.stories.tsx
  core/src/app/_components/playgrounds/composed-ranges/get-composed-ranges.tsx
  core/src/app/_components/playgrounds/composed-ranges/index.ts
  core/src/app/_components/playgrounds/composed-ranges/selection-methods.stories.tsx
  core/src/app/_components/playgrounds/composed-ranges/selection-methods.tsx
  core/src/app/_components/playgrounds/composed-ranges/selection-properties.stories.tsx
  core/src/app/_components/playgrounds/composed-ranges/selection-properties.tsx
  core/src/app/_components/playgrounds/index.ts
  core/src/app/blog/(articles)/composed-ranges/layout.tsx
  core/src/app/blog/(articles)/composed-ranges/opengraph-image.tsx
  core/src/app/blog/(articles)/composed-ranges/page.mdx
Due: format, lint

shadow-domがすでにある時は何もしない
  core/src/app/_components/playgrounds/composed-ranges/get-composed-ranges.tsx
Due: format, lint

textの調整
  core/src/app/_components/playgrounds/composed-ranges/get-composed-ranges.tsx
  core/src/app/blog/(articles)/composed-ranges/opengraph-image.tsx
  core/src/app/blog/(articles)/composed-ranges/page.mdx
Due: format, lint
