Repository k35o/k8o: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write --experimental-cli {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint --fix --max-warnings 0 {staged_files}
  stage_fixed: true

providerをappに移動
  core/.storybook/preview.tsx
  core/src/app/_providers/app.tsx
  core/src/app/layout.tsx
Due: format, lint

linkにunderlineをつける
  packages/ui/src/anchor/anchor.tsx
Due: format, lint

日本語の文章を検査するパッケージの作成
  packages/japanese-syntax-checker/package.json
  packages/japanese-syntax-checker/src/index.ts
  packages/japanese-syntax-checker/src/types.ts
  packages/japanese-syntax-checker/tsconfig.json
  packages/japanese-syntax-checker/vitest.config.ts
  pnpm-lock.yaml
Due: format

僕が考えた最強のプリセット（要調整）
  packages/japanese-syntax-checker/src/.textlintrc
Due: none

edit-fieldに埋め込む
  core/src/app/japanese-text-fixer/_components/edit-field/edit-field.tsx
  package.json
  packages/japanese-syntax-checker/package.json
  pnpm-lock.yaml
Due: format, lint

コード内で設定を定義する
  packages/japanese-syntax-checker/src/.textlintrc
  packages/japanese-syntax-checker/src/descriptor.ts
  packages/japanese-syntax-checker/src/index.ts
  packages/japanese-syntax-checker/src/types.ts
Due: format

viteの修正
  packages/hooks/package.json
  packages/hooks/vite.config.ts
  packages/hooks/vitest.config.ts
  pnpm-lock.yaml
Due: format

fmt
  core/src/app/api/crons/upstash-keepalive/route.ts
Due: format, lint

vercelに依存するのでk8oに移動する
  core/src/app/_components/development-only/development-only.tsx
  core/src/app/_components/development-only/index.ts
  packages/arte-odyssey/src/index.ts
Due: format, lint

icon-linkのstyleを整理
  packages/arte-odyssey/src/icon-link/icon-link.tsx
Due: format, lint

roleを付与しているのでdivにする
  packages/arte-odyssey/src/dropdown-menu/dropdown-menu.tsx
  packages/arte-odyssey/src/list-box/list-box.tsx
  packages/arte-odyssey/src/tooltip/tooltip.tsx
Due: format, lint

開いた状態でStoryを見せる
  packages/arte-odyssey/src/dialog/dialog.stories.tsx
  packages/arte-odyssey/src/dropdown-menu/dropdown-menu.stories.tsx
  packages/arte-odyssey/src/list-box/list-box.stories.tsx
  packages/arte-odyssey/src/popover/popover.stories.tsx
  packages/arte-odyssey/src/tooltip/tooltip.stories.tsx
Due: format, lint

dialogにborderを付与
  packages/arte-odyssey/src/dialog/dialog.tsx
Due: format, lint

tabIndexを付与しないように
  packages/arte-odyssey/src/popover/hooks.ts
Due: format, lint

text-**のdestructuringをやめる
  packages/arte-odyssey/src/form/text-field/text-field.tsx
  packages/arte-odyssey/src/form/textarea/textarea.tsx
Due: format, lint

fix: sanitize SVG content in QR generator to prevent XSS attacks
  core/package.json
  core/src/app/qr-generator/_components/qr-generator/qr-generator.tsx
  pnpm-lock.yaml
Due: format, lint

fix: add input validation to color contrast calculation function
  packages/helpers/src/color/calc-contrast.ts
Due: format, lint

declare dev engines
  package.json
  pnpm-lock.yaml
Due: none

blogのテンプレートの準備
  core/migrations/0044_organic_gwen_stacy.sql
  core/migrations/meta/0044_snapshot.json
  core/migrations/meta/_journal.json
  core/src/app/blog/(articles)/sb-mock/layout.tsx
  core/src/app/blog/(articles)/sb-mock/opengraph-image.tsx
  core/src/app/blog/(articles)/sb-mock/page.mdx
Due: format, lint

blogを追加
  core/src/app/blog/(articles)/sb-mock/page.mdx
Due: format

spyをtrueにする
  core/src/app/blog/(articles)/sb-mock/page.mdx
Due: format

Revert "sb.mockの記事を書く"
  core/migrations/0044_organic_gwen_stacy.sql
  core/migrations/meta/0044_snapshot.json
  core/migrations/meta/_journal.json
  core/src/app/blog/(articles)/sb-mock/layout.tsx
  core/src/app/blog/(articles)/sb-mock/opengraph-image.tsx
  core/src/app/blog/(articles)/sb-mock/page.mdx
Due: format, lint

reactを19.1.0に戻す
  package.json
  pnpm-lock.yaml
Due: none

文言の調整
  core/src/app/blog/(articles)/sb-mock/page.mdx
Due: format

更なる推敲
  core/src/app/blog/(articles)/sb-mock/page.mdx
Due: format

link-cardをsb.mockでモックするように
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/_components/link-card/link-card.stories.tsx
  core/src/app/_components/link-card/link-card.tsx
  core/src/mocks/link-card/metadata.mock.ts
Due: format, lint

reactの一部をsb.mockでモックするように
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/_components/playgrounds/suspense-list/suspense-list-demo.tsx
  core/src/app/blog/_components/blog-card/blog-card.tsx
  core/src/app/blog/_components/blog-layout/blog-layout.tsx
  core/src/libs/__mocks__/react.ts
Due: format, lint

dbをmockする
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/_api/contact-to-me.ts
  core/src/app/api/crons/weekly-notifications/route.ts
  core/src/database/__mocks__/db.ts
  core/src/services/blogs/action.test.ts
  core/src/services/blogs/action.ts
  core/src/services/blogs/blog.test.ts
  core/src/services/blogs/blog.ts
  core/src/services/blogs/blogs.test.ts
  core/src/services/blogs/blogs.ts
  core/src/services/blogs/view.test.ts
  core/src/services/blogs/view.ts
  core/src/services/quizzes/__test__/quiz-type.test.ts
  core/src/services/quizzes/__test__/quiz.test.ts
  core/src/services/quizzes/quiz-type.ts
  core/src/services/quizzes/quiz.ts
  core/src/services/subscriptions/__test__/subscribe.test.ts
  core/src/services/subscriptions/__test__/verify.test.ts
  core/src/services/subscriptions/subscribe.ts
  core/src/services/subscriptions/verify.ts
  core/src/services/tags/tag.test.ts
  core/src/services/tags/tag.ts
  core/src/services/tags/tags.test.ts
  core/src/services/tags/tags.ts
  core/src/services/talks/talks.test.ts
  core/src/services/talks/talks.ts
Due: format, lint

ratelimitをsb.mockする
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/_api/contact-to-me.ts
  core/src/mocks/helpers/ratelimit.mock.ts
  core/src/services/blogs/action.ts
  packages/helpers/src/ratelimit/index.ts
Due: format, lint

next-serverをsb.mockする
  core/.storybook/preview.tsx
  core/package.json
  core/src/app/blog/_components/subscribe/subscribe-card.tsx/action.ts
  core/src/libs/__mocks__/next-server.ts
  core/src/libs/next-server.ts
Due: format, lint

add ratelimit mock
  __mocks__/@k8o/helpers/ratelimit.ts
Due: format

exportで出し分ける(敗北)
  core/.storybook/preview.tsx
  packages/helpers/package.json
  packages/helpers/src/__mocks__/ratelimit.ts
Due: format, lint

逆にする
  packages/helpers/package.json
Due: none

テストを除外
  core/vitest.browser.config.ts
Due: format

涙
  core/vitest.browser.config.ts
Due: format

eslintの抑制を消す
  core/src/app/_components/playgrounds/requestclose/dialog-requestclose-demo.tsx
Due: format, lint

スペース削除
  core/src/app/_components/playgrounds/requestclose/dialog-requestclose-demo.tsx
Due: format, lint

delete expect error
  core/src/app/_components/playgrounds/requestclose/dialog-requestclose-demo.tsx
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,d.ts,tsx,md,mdx}, but not: **/mockServiceWorker.js
  lint: any of: **/src/**/*.{js,ts,tsx}, but not: baseline-status.d.ts
